@import "bootstrap-min.css";

body{
    font-family: "helvetica neue", "arial", "sans";
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    color:#B4B4B4;
}
form div label{
    font-size: 16px;
    font-weight: 400;
}
input{
    margin: 5px;
    padding: 10px;
    color: rgba(39, 11, 11, 0.79);
    font-size: 16px;
}
input:disabled{
    max-width: 100px;
    max-height: 50px;
}
ul{
    display: inline;
}
hr{
    border : 0;
    height : 15px;
    /* background-color: rgba(21, 121, 45, 0.63); */
    margin: 3px;
    background: linear-gradient( rgb(25, 126, 25) 50%, white 100%);
    width: 50%;
    text-align: center;

}
.brandnames{
    color:rgba(23, 22, 24, 0.66);
}
.bgimg{
    background-image: url(https://g.twimg.com/Twitter_logo_blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.counter{
    padding: 5px 25px 25px 25px;
}
.win{
    background-color: rgba(91, 128, 35, 0.82);
}
.lose{
    background-color: rgba(179, 47, 47, 0.84);
}
.standout{
    font-weight: 900;
    font-size: 2em;
    color: #C4C918;
}
